* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* body {
  width: 1170px;
  margin: 0 auto;
  margin-top: 52px;
  font-family: Mulish;
} */

section, navbar{
  width: 1170px;
  margin: 0 auto;
  margin-top: 52px;
  font-family: Mulish;
}


navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16.63px;
}

.logo > img {
  width: 48px;
  height: 56.008px;
  flex-shrink: 0;
}

.logo > h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
}

.links > ul {
  display: flex;
  gap: 44px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.orange {
  color: #ff5400;
}

.hero {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("./Images/Group\ 13\ \(1\)\ \(1\).png") lightgray 50% / cover no-repeat;
  height: 500px;
  flex-shrink: 0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.hero > h2 {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.hero > p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 676px;
  margin-bottom: 48px;
}

.hero > div {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  width: 800px;
  height: 84px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hero > div > button {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  border: none;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero > div > button > img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.hero > .find-now > .first-button {
  display: flex;
  justify-content: left;
  padding-left: 16px;
}

.hero > .find-now > .last-button {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.popular-tour {
  display: flex;
  justify-content: space-between;
  gap: 54px;
  margin-bottom: 100px;
}

.popular-tour > .left > h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.popular-tour > .left > p {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.list-item {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-left: 30px;
  margin-top: 24px;
}

.last-description {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-top: 24px;
  margin-bottom: 32px;
}

.popular-tour > .left > button {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #ffff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.popular-tour > .right {
  height: 550px;
  flex-shrink: 0;
}

.destination {
  margin-bottom: 100px;
}

.destination > h3 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.destination > p {
  width: 643px;
  margin: 0 auto;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 48px;
}

.destination > .gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.destination > .gallery > .maldives {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/Rectangle\ 5.png") lightgray 50% / cover no-repeat;
  width: 573px;
  height: 300px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 16px;
}
.destination > .gallery > .indonesia {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/Rectangle 8.png") lightgray 50% / cover no-repeat;
  width: 573px;
  height: 300px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 16px;
}
.destination > .gallery > .srilanka {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/Rectangle 6.png") lightgray 50% / cover no-repeat;
  width: 374px;
  height: 286px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 16px;
}
.destination > .gallery > .america {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/Rectangle 7.png") lightgray 50% / cover no-repeat;
  width: 474px;
  height: 286px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 16px;
}
.destination > .gallery > .kashmir {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/Rectangle 9.png") lightgray 50% / cover no-repeat;
  width: 274px;
  height: 286px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 16px;
}
.destination > .gallery > .bangladesh {
  background-image: url("./Images/Rectangle 11.png");
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/Rectangle 11.png") lightgray 50% / cover no-repeat;

  width: 473px;
  height: 300px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 16px;
}
.destination > .gallery > .bandarban {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/Rectangle 10.png") lightgray 50% / cover no-repeat;
  width: 673px;
  height: 300px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.choose-us {
  text-align: center;
  margin-bottom: 100px;
}

.choose-us > h3 {
  color: #131318;
  text-align: center
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 32px;
}

.choose-us > p {
  width: 643px;
  display: block;
  margin: 0 auto;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 48px;
}

.choose-us > .card-container > .two-cards {
  display: flex;
  gap: 24px;
}

.choose-us > .card-container > .two-cards > .first-card {
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px;
  text-align: left;
}

.choose-us > .card-container > .two-cards > .first-card > h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 32px;
  margin-bottom: 16px;
}

.choose-us > .card-container > .two-cards > .first-card > p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.choose-us > .card-container > .two-cards > .second-card {
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 32px;
  text-align: left;
}

.choose-us > .card-container > .two-cards > .second-card > h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 32px;
  margin-bottom: 16px;
}

.choose-us > .card-container > .two-cards > .second-card > p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.choose-us > .card-container > .third-card-container > .third-card {
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  padding: 32px;
  margin-top: 24px;
  text-align: left;
}

.choose-us > .card-container > .third-card-container > .third-card > h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 32px;
  margin-bottom: 16px;
}

.choose-us > .card-container > .third-card-container > .third-card > p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.third-card-container {
  display: flex;
  justify-content: center;
}

.deals {
  margin-bottom: 113px;
}

.deals > h3 {
  color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 24px;
}

.deals > p {
  width: 643px;
  display: block;
  margin: 0 auto;
  color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 48px;
}

.deals > .first-card {
height: 500px;
flex-shrink: 0;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
background-image: url("./Images/Group\ 39.png");
border-radius: 16px;
padding: 56px;
display: flex;
justify-content: end;
}

.first-inner-card {
  width: 579px;
height: 389px;
flex-shrink: 0;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
padding: 53px;
}

.first-inner-card > h3 {
  color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 16px;
}

.first-inner-card > p {
  color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 16px;
}

.first-inner-card > h4 {
  color: #FF5400;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 24px;
}

.first-inner-card > button {
  width: 150px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
border: none;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.first-inner-card > div > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.first-inner-card > div {
  margin-bottom: 26px;
}

.first-inner-card > div > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.deals > .second-card {
height: 500px;
flex-shrink: 0;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
background-image: url("./Images/Group\ 40.png");
border-radius: 16px;
padding: 56px;
display: flex;
justify-content: left;
margin-top: 24px;
}

.second-inner-card {
  width: 579px;
height: 389px;
flex-shrink: 0;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
padding: 53px;
}

.second-inner-card > h3 {
  color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 16px;
}

.second-inner-card > p {
  color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 16px;
}

.second-inner-card > h4 {
  color: #FF5400;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 24px;
}

.second-inner-card > button {
  width: 150px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
border: none;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.second-inner-card > div > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.second-inner-card > div {
  margin-bottom: 26px;
}

.second-inner-card > div > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.deals > .third-card {
height: 500px;
flex-shrink: 0;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
background-image: url("./Images/Group\ 39.png");
border-radius: 16px;
padding: 56px;
display: flex;
justify-content: end;
margin-top: 24px;
}

.third-inner-card {
  width: 579px;
height: 389px;
flex-shrink: 0;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
padding: 53px;
}

.third-inner-card > h3 {
  color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 16px;
}

.third-inner-card > p {
  color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 16px;
}

.third-inner-card > h4 {
  color: #FF5400;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 24px;
}

.third-inner-card > button {
  width: 150px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
border: none;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.third-inner-card > div > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.third-inner-card > div {
  margin-bottom: 26px;
}

.third-inner-card > div > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.deals > button {
  width: 210px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
border: none;
display: flex;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 48px;
}

.video {
  display: flex;
  gap: 28px;
  margin-bottom: 100px;
}

.video > div > h3 {
  width: 448px;
  color: #131318;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 60px; /* 150% */
margin-bottom: 24px;
}

.video > div > p {
  width: 532px;
  color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 24px;
}

.video > div > ul {
  color: rgba(19, 19, 24, 0.70);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.video > div > ul > li {
  margin-left: 25px;
  margin-bottom: 16px;
}

.video > div > button {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FF5400;
  border: none;
  color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.video > div > iframe {
  border-radius: 16px;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 100px;
}


.newsletter > div > hr {
  width: 393px;
height: 1px;
margin-bottom: 24px;
background: rgba(19, 19, 24, 0.10);
}

.newsletter > div > h3 {
  color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 16px;
}

.newsletter > div > p {
  width: 350px;
  color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 24px;
}

.newsletter > div > input {
  width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: none;
padding: 20px 16px;
color: rgba(19, 19, 24, 0.30);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 16px;
}

.newsletter > div > button {
  width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
border: none;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 8px;
}

.travel-container {
  width: 672px;
height: 422px;

flex-shrink: 0;
border-radius: 16px;
background: url("./Images/Rectangle\ 8\ \(1\).png") lightgray 50% / cover no-repeat;
position: relative;
}

.travel > div>  h4 {
  color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.travel > div > h5 {
  color: #FFF;
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.travel {
  width: 324px;
height: 120px;
transform: rotate(-19.628deg);
flex-shrink: 0;
border-radius: 16px;
background: #FF5400;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: absolute;
bottom: 50px;
right: 10px;
}

footer {
  width: 100%;
height: 502px;
flex-shrink: 0;
background: rgba(19, 19, 24, 0.05);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

footer > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
gap: 16px;
margin-bottom: 15px;
}

.last-travel {
  color: #FF5400;
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

footer > p{
  width: 769px;
  color: #5A5A5D;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 32px;
}

footer > img {
  width: 174.322px;
height: 24px;
flex-shrink: 0;
margin-bottom: 50px;
}

footer > hr {
  width: 872px;
height: 1px;
background: rgba(19, 19, 24, 0.10);
margin-bottom: 50px;
}

footer > h5 {
  color: #131318;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
}